{% load static %}
<!-- Header -->
<header id="header">
    {% comment %} <a class="logo" href="/{{url}}/XX11/0000/XX">{{url}} <sup><a>{{ver}}</a></sup></a> {% endcomment %}
    <a class="logo" href="/{{url}}/XX11/0000/XX">{{url}}</a>
    
    <nav>
        <a href='#'>{{request.session}}</a>
        <!-- LOGIN [O] >> SESSION OK -->
        {% if request.session.id %}
        <a class="btn-open-LoginPopup" onclick="xx11_Login()">
            {{request.session.id}}
            {{request.session.username}} </a>
        <a class="btn-open-LoginPopup" href="{% url 'APP:Logout' %}">
            로그아웃
        </a>

        <!-- LOGIN [X] >> NO SESSION -->
        {% else %}
        <a class="btn-open-LoginPopup" onclick="xx11_Login()">Login</a>/<a class="btn-open-JoinPopup" onclick="xx11_join()">join</a>
        
        {% endif%}
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/{{url}}/XX11/0000/XX">Home</a></li>

        <li><a href="/{{url}}/XX11/0001/Join">회원가입</a></li>
        <li><a href="/{{url}}/XX11/0001/Login">로그인</a></li>
        <li><a href="/{{url}}/XX11/0010/00">[0010|00] 회원관리</a></li>
        <li><a href="/{{url}}/XX11/0010/01">[0010|01] Profile</a></li>
        <li><a href="/{{url}}/XX11/0011/XX">[0011|XX] TEST게시판</a></li>
        <li><a href="/{{url}}/XX11/0010/XX">Generic</a></li>
        <li><a href="/{{url}}/XX11/1111/XX">Release Note</a></li>
        <li><a href="/{{url}}/XX11/9999/XX">Elements</a></li>
    </ul>
</nav>

<script type="text/javascript">

    function xx11_Login(){
        alert("로그인");
        var url = "/{{url}}/XX11/0001/Login/";
        var name = "popup test";
        var option = "width = 500, height = 500, top = 100, left = 200, location = no"
        window.open(url, name, option);
    }

    function xx11_join(){
        alert("회원가입");
        var url = "/{{url}}/XX11/0001/Join/";
        var name = "popup test";
        var option = "width = 650, height = 800, top = 50%, left = 50%, location = no"
        window.open(url, name, option);
    }
</script>