{% load static %}
<!-- Header -->
<header id="header">
    <a class="logo" href="/{{url}}/XX11/0000/XX">{{url}} <sup><a>{{ver}}</a></sup> </a>
    
    <nav>
        <a onclick="xx11_Login()">Login</a>/<a class="btn-open-popup">join</a>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/{{url}}/XX11/0000/XX">Home</a></li>
        <li><a href="/{{url}}/XX11/0001/XX">회원가입</a></li>
        <li><a href="/{{url}}/XX11/0010/XX">Generic</a></li>
        <li><a href="/{{url}}/XX11/1111/XX">Release Note</a></li>
        <li><a href="/{{url}}/XX11/9999/XX">Elements</a></li>
    </ul>
</nav>

{% include "include/industrious/0001/popupJoin.html" %}