{% load static %}
<!-- Header -->
<header id="header">
    <a class="logo" href="index.html">{{url}} <h6>{{ver}}</h6></a>
    <nav>
        <a>Login</a>/<a>join</a>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/{{url}}/XX11/0000/XX">Home</a></li>
        <li><a href="/{{url}}/XX11/0010/XX">Generic</a></li>
        <li><a href="/{{url}}/XX11/1111/XX">Release Note</a></li>
        <li><a href="/{{url}}/XX11/9999/XX">Elements</a></li>
    </ul>
</nav>