{% load static %}
<!DOCTYPE html>
<html lang="zxx">

{% include "include/web/head.html" %}

<body>
    {% include "include/web/HumbergerMenu.html" %}

    {% include "include/web/Header.html" %}

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="hs-text">
                        <div class="label"><span>Playstation</span></div>
                        <h3>Downwell and Space Hulk: Tactics are coming to Xbox Game Pass for PC</h3>
                        <div class="ht-meta">
                            <img src="{% static 'img/hero/meta-pic.jpg' %}" alt="">
                            <ul>
                                <li>by Marcin Jankowski</li>
                                <li>Aug 01, 2019</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6 offset-lg-1 offset-xl-2">
                    <div class="trending-post">
                        <div class="section-title">
                            <h5>Treding posts</h5>
                        </div>
                        <div class="trending-slider owl-carousel">
                            <div class="single-trending-item">
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{% static 'img/trending/trending-1.jpg' %}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="#">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{% static 'img/trending/trending-2.jpg' %}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="#">Valve updates Steam's new Interactive Reco- mmender, teases
                                                a...</a></h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{% static 'img/trending/trending-3.jpg' %}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="#">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{% static 'img/trending/trending-4.jpg' %}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="#">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-trending-item">
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{% static 'img/trending/trending-5.jpg' %}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="#">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{% static 'img/trending/trending-6.jpg' %}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="#">Valve updates Steam's new Interactive Reco- mmender, teases
                                                a...</a></h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{% static 'img/trending/trending-7.jpg' %}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="#">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{% static 'img/trending/trending-8.jpg' %}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="#">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'img/hero/hero-2.jpg' %}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'img/hero/hero-3.jpg' %}"></div>
        </div>
    </section>
    <!-- Hero Section End -->

    

    {% include "include/web/Footer.html" %}

    {% include "include/web/js.html" %}
</body>

</html>