{% load static %}
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="ht-options">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="ht-widget">
                            <ul>
                                <li><i class="fa fa-sun-o"></i> <span>20<sup>c</sup></span> London</li>
                                <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                
                                {% if user.is_authenticated %}
                                <li><a class="nav-link" href="{% url 'APP:game_logout' %}">{{ user.username }} (로그아웃)</a></li>
                                {% else %}
                                <li class="loginup-switch loginup-open"><i class="fa fa-sign-out"></i> Login</li>
                                <li class="signup-switch signup-open"><i class="fa fa-sign-out"></i> Sign up</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="ht-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="logo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                       <a href="/web/index/x/"><img src="{% static 'game/img/logo.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-options">
            <div class="container">
                <div class="humberger-menu humberger-open">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="nav-search search-switch">
                    <i class="fa fa-search"></i>
                </div>

                {% block content %}

                    <!-- web -->
                    {% if url == 'web' %}

                        <div class="nav-menu">
                            <ul>
                                {% if menu == 'index' %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}
                                    <a href="/web/index/x/">
                                        <span>Home</span>
                                    </a>
                                </li>

                                {% if menu == 'Platform' %}
                                <li class="active mega-menu">
                                {% else %}
                                <li class="mega-menu">
                                {% endif %}
                                    <a href="#">
                                        <span>Platform <i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <div class="megamenu-wrapper">
                                        <ul class="mw-nav">
                                            <li><a href="#"><span>Playstation</span></a></li>
                                            <li><a href="#"><span>Windows</span></a></li>
                                            <li><a href="#"><span>Mobile</span></a></li>
                                            <li><a href="#"><span>Xbox</span></a></li>
                                        </ul>
                                        <div class="mw-post">
                                            <div class="mw-post-item">
                                                <div class="mw-pic">
                                                    <img src="{% static 'game/img/megamenu/mm-1.jpg' %}" alt="">
                                                </div>
                                                <div class="mw-text">
                                                    <h6><a href="#">A Monster Prom poster got hijacked for a Papa Roach
                                                            concert...</a></h6>
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mw-post-item">
                                                <div class="mw-pic">
                                                    <img src="{% static 'game/img/megamenu/mm-2.jpg' %}" alt="">
                                                </div>
                                                <div class="mw-text">
                                                    <h6><a href="#">A new Borderlands 3 trailer introduces Moze and her...</a>
                                                    </h6>
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mw-post-item">
                                                <div class="mw-pic">
                                                    <img src="{% static 'game/img/megamenu/mm-3.jpg' %}" alt="">
                                                </div>
                                                <div class="mw-text">
                                                    <h6><a href="#">Teamfight Tactics is in chaos after today's patch...</a>
                                                    </h6>
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mw-post-item">
                                                <div class="mw-pic">
                                                    <img src="{% static 'game/img/megamenu/mm-4.jpg' %}" alt="">
                                                </div>
                                                <div class="mw-text">
                                                    <h6><a href="#">Borderlands 2 dev explains why there's mysterious
                                                            boxes...</a></h6>
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mw-post-item">
                                                <div class="mw-pic">
                                                    <img src="{% static 'game/img/megamenu/mm-5.jpg' %}" alt="">
                                                </div>
                                                <div class="mw-text">
                                                    <h6><a href="#">Capcom asks select fans to test new Resident Evil game</a>
                                                    </h6>
                                                    <ul>
                                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                {% if menu == 'pages' %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}
                                    <a href="#">
                                        <span>Pages <i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="dropdown">
                                        <li><a href="#"> # web Pages #</a></li>
                                        <li><a href="/web/pages/1/">Categories</a></li>
                                        <li><a href="/web/pages/2/">Categories grid</a></li>
                                        <li><a href="/web/pages/3/">Typography</a></li>
                                        <li><a href="/web/pages/4/">Post default</a></li>
                                        <li><a href="/web/pages/5/">Post gallery</a></li>
                                        <li><a href="/web/pages/6/">Post review</a></li>
                                        <li><a href="/web/pages/7/">Contact</a></li>
                                    </ul>
                                </li>

                                {% if menu == 'Reviews' %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}
                                    <a href="#">
                                        <span>JavaScript <i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="dropdown">
                                        <li><a href="/web/JavaScript/1">jQuery</a></li>
                                    </ul>
                                </li>
                                
                                {% if menu == 'Windows' %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}
                                    <a href="#"><span>Windows <i class="fa fa-angle-down"></i></span></a>
                                </li>

                                {% if menu == 'Videos' %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}
                                    <a href="#"><span>Videos <i class="fa fa-angle-down"></i></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                {% endblock %}
        </div>
    </header>
    <!-- Header End -->