{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Amin Template">
    <meta name="keywords" content="Amin, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amin | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'game/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'game/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'game/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'game/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'game/css/barfiller.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'game/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'game/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}" type="text/css">
</head>