{% load static %}
<!-- Js Plugins -->
<script src="{% static 'game/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'game/js/bootstrap.min.js' %}"></script>
<script src="{% static 'game/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'game/js/circle-progress.min.js' %}"></script>
<script src="{% static 'game/js/jquery.barfiller.js' %}"></script>
<script src="{% static 'game/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'game/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'game/js/main.js' %}"></script>