{% extends 'include/industrious/base.html' %}
{% block content %}

<!-- Heading -->
<div id="heading" >
	<h1>{{title}}</h1>
</div>

<!-- Main -->
<section id="main" class="wrapper">
	<table class="alt">

		<thead>
			<tr>
				<th>회원번호(id)</th>
				<th>@E-MAIL(PK)</th>
				<th>PASSWORD</th>
				<th>이름(username)</th>
				<th>회원등급(is_superuser)</th>
				<th>가입날짜(date_joined)</th>
				<th>로그인날짜(last_login)</th>
				<td>BUTTON</td>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>1</td>
				<td>test@test.com</td>
				<td>testPassword@123</td>
				<td>NAME</td>
				<td>
					<select name="category" id="category">
						<option value="">- Select -</option>
						<option value="alpha">Option alpha</option>
						<option value="beta">Option beta</option>
						<option value="gamma">Option gamma</option>
						<option value="delta">Option delta</option>
						<option value="epsilon">Option epsilon</option>
						<option value="zeta">Option zeta</option>
						<option value="eta">Option eta</option>
						<option value="theta">Option theta</option>
					</select>
				</td>
				<td>2020-01-01</td>
				<td>2020-22-22</td>
				<td>
					<center>
						<a href="#" class="button primary small">수정</a>
						<a href="#" class="button primary small">삭제</a>
					</center>
				</td>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<td colspan="2">colspan colspan colspan</td>
				<td>360.00</td>
				<td>360.00</td>
				<td>360.00</td>
				<td>360.00</td>
				<td>360.00</td>
			</tr>
		</tfoot>

	</table>
</section>

{% endblock %}