/*---------------------
  Login Up Form
-----------------------*/

.loginup-section {
	background: #0d0909;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	z-index: 99;
	display: none;
}

.loginup-section .loginup-close {
	height: 50px;
	width: 50px;
	border: 2px solid #e10000;
	border-radius: 50%;
	font-size: 18px;
	color: #e10000;
	line-height: 46px;
	text-align: center;
	position: absolute;
	right: 30px;
	top: 30px;
	cursor: pointer;
	z-index: 9;
}

.loginup-text {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 100%;
	padding: 80px 0;
}

.loginup-text .loginup-title {
	margin-bottom: 35px;
}

.loginup-text .loginup-title h2 {
	font-weight: 700;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 10px;
}

.loginup-text .loginup-form {
	width: 545px;
	margin: 0 auto;
	text-align: center;
}

.loginup-text .loginup-form .sf-input-list input {
	width: 100%;
	height: 46px;
	font-size: 14px;
	color: #c4c4c4;
	padding-left: 20px;
	-webkit-transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	transform: skewX(-15deg);
	background: transparent;
	border: 1px solid #363636;
	margin-bottom: 20px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.loginup-text .loginup-form .sf-input-list input::-webkit-input-placeholder {
	color: #c4c4c4;
	-webkit-transform: skewX(15deg);
	transform: skewX(15deg);
}

.loginup-text .loginup-form .sf-input-list input::-moz-placeholder {
	color: #c4c4c4;
	-webkit-transform: skewX(15deg);
	transform: skewX(15deg);
}

.loginup-text .loginup-form .sf-input-list input:-ms-input-placeholder {
	color: #c4c4c4;
	-webkit-transform: skewX(15deg);
	-ms-transform: skewX(15deg);
	transform: skewX(15deg);
}

.loginup-text .loginup-form .sf-input-list input::-ms-input-placeholder {
	color: #c4c4c4;
	-webkit-transform: skewX(15deg);
	-ms-transform: skewX(15deg);
	transform: skewX(15deg);
}

.loginup-text .loginup-form .sf-input-list input::placeholder {
	color: #c4c4c4;
	-webkit-transform: skewX(15deg);
	-ms-transform: skewX(15deg);
	transform: skewX(15deg);
}

.loginup-text .loginup-form .sf-input-list input:focus {
	border-color: #c20000;
}

.loginup-text .loginup-form .radio-check {
	margin-bottom: 30px;
}

.loginup-text .loginup-form .radio-check label {
	font-size: 14px;
	color: #c4c4c4;
	position: relative;
	cursor: pointer;
	padding-left: 25px;
}

.loginup-text .loginup-form .radio-check label input {
	position: absolute;
	visibility: hidden;
}

.loginup-text .loginup-form .radio-check label input:checked~.checkbox {
	background: #c4c4c4;
}

.loginup-text .loginup-form .radio-check label .checkbox {
	position: absolute;
	left: 0;
	top: 5px;
	height: 11px;
	width: 11px;
	border: 1px solid #c4c4c4;
	border-radius: 2px;
}

.loginup-text .loginup-form button {
	font-size: 14px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	background: #c20000;
	border: none;
	display: inline-block;
	padding: 12px 32px;
	-webkit-transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	transform: skewX(-15deg);
}

.loginup-text .loginup-form button span {
	display: inline-block;
	-webkit-transform: skewX(15deg);
	-ms-transform: skewX(15deg);
	transform: skewX(15deg);
}