{% load static %}
<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">AdminKit</span>
        </a>
        
        {% block content %}
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>

                {% if menu == '0001' %}
                <li class="sidebar-item active">
                {% else %}
                <li class="sidebar-item">
                {% endif %}
                    <a class="sidebar-link" href="/theme/admin/0001/01/">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>

                {% if menu == '0010' %}
                <li class="sidebar-item active">
                {% else %}
                <li class="sidebar-item">
                {% endif %}
                    <a class="sidebar-link" href="/theme/admin/0010/01/">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                    </a>
                </li>

                {% if menu == '0011' %}
                <li class="sidebar-item active">
                {% else %}
                <li class="sidebar-item">
                {% endif %}
                    <a class="sidebar-link" href="/theme/admin/0011/01/">
                        <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
                    </a>
                </li>

                {% if menu == '0100' %}
                <li class="sidebar-item active">
                {% else %}
                <li class="sidebar-item">
                {% endif %}
                    <a class="sidebar-link" href="/theme/admin/0100/01/">
                        <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Invoice</span>
                    </a>
                </li>

                {% if menu == '0101' %}
                <li class="sidebar-item active">
                {% else %}
                <li class="sidebar-item">
                {% endif %}
                    <a class="sidebar-link" href="/theme/admin/0101/01/">
                        <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
                    </a>
                </li>

                <li class="sidebar-header">
                    Tools & Components
                </li>
                {% if menu == '0110' %}
                <li class="sidebar-item active">
                {% else %}
                <li class="sidebar-item">
                {% endif %}
                    <a data-target="#ui" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">UI Elements</span>
                    </a>
                    <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item"><a class="sidebar-link" href="/theme/admin/0110/01/">Alerts</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/theme/admin/0110/02/">Buttons</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/theme/admin/0110/03/">Cards</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/theme/admin/0110/04/">General</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/theme/admin/0110/05/">Grid</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/theme/admin/0110/06/">Modals</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/theme/admin/0110/07/">Typography</a></li>
                    </ul>
                </li>

                {% if menu == '0111' %}
                <li class="sidebar-item active">
                {% else %}
                <li class="sidebar-item">
                {% endif %}
                    <a class="sidebar-link" href="/theme/admin/0111/01/">
                        <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
                    </a>
                </li>

                {% if menu == '1000' %}
                <li class="sidebar-item active">
                {% else %}
                <li class="sidebar-item">
                {% endif %}
                    <a data-target="#forms" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Forms</span>
                    </a>
                    <ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item"><a class="sidebar-link" href="/theme/admin/1000/01/">Form Layouts</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/theme/admin/1000/02/">Basic Inputs</a></li>
                    </ul>
                </li>

                {% if menu == '1001' %}
                <li class="sidebar-item active">
                {% else %}
                <li class="sidebar-item">
                {% endif %}
                    <a class="sidebar-link" href="/theme/admin/1001/01/">
                        <i class="align-middle" data-feather="list"></i> <span class="align-middle">Tables</span>
                    </a>
                </li>

                <li class="sidebar-header">
                    Plugins & Addons
                </li>

                {% if menu == '1010' %}
                <li class="sidebar-item active">
                {% else %}
                <li class="sidebar-item">
                {% endif %}
                    <a class="sidebar-link" href="/theme/admin/1010/01/">
                        <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
                    </a>
                </li>

                {% if menu == '1011' %}
                <li class="sidebar-item active">
                {% else %}
                <li class="sidebar-item">
                {% endif %}
                    <a class="sidebar-link" href="/theme/admin/1011/01/">
                        <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
                    </a>
                </li>
            </ul>
        {% endblock %}

        <div class="sidebar-cta">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
                <div class="mb-3 text-sm">
                    Are you looking for more components? Check out our premium version.
                </div>
                <a href="https://adminkit.io/pricing" target="_blank" class="btn btn-primary btn-block">Upgrade to Pro</a>
            </div>
        </div>
    </div>
</nav>